Repository techwithanirudh/coolify-tweaks: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: pnpm turbo run format --continue -- {staged_files} --cache --cache-location .cache/.prettiercache
  stage_fixed: true

lint:
  run: pnpm turbo run lint --continue -- {staged_files} --fix --cache --cache-location .cache/.eslintcache
  stage_fixed: true

typecheck:
  run: pnpm turbo run typecheck -- {staged_files}
  stage_fixed: false

fix(cards): update padding for card component to improve layout consistency
  apps/style/src/components/_cards.scss
Due: format, lint

fix(deployments): update styles for logs section to improve layout and consistency
  apps/style/src/pages/_deployments.scss
Due: format, lint

fix(changelog): update version to 4.0.5 and refine box interactions and table text readability
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

fix(variables): update color variables for improved UI consistency
  apps/style/src/theme/_variables.scss
Due: format, lint

fix(variables): refine color values for secondary and muted states for consistency
  apps/style/src/theme/_variables.scss
Due: format, lint

fix(changelog): update version to 4.0.6 and improve light mode contrast for UI elements
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

fix(docs): replace broken Twitter video with YouTube embed
  apps/docs/content/docs/style/theming.mdx
Due: format, lint

fix(docs): use correct YouTube video ID for theming guide
  apps/docs/content/docs/style/theming.mdx
Due: format, lint

fix(docs): replace broken Twitter video with YouTube embed (#49)
  apps/docs/content/docs/style/theming.mdx
Due: format, lint

fix(ui): pin vidstack to 1.12.6 and enable playsinline
  packages/ui/package.json
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

fix(ui): remove redundant playsinline prop
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

chore: update lockfile for vidstack pin
  pnpm-lock.yaml
Due: format, lint

chore: update lockfile for vidstack pin (#50)
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint

fix: resolve select box picker icon alignment issue
  apps/style/src/components/ui/_select.scss
Due: format, lint

chore: re-add picker-icon height declaration
  apps/style/src/components/ui/_select.scss
Due: format, lint

feat: new version 4.0.7
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

Fix command to apply version bump in AGENTS.md
  AGENTS.md
Due: format, lint

fix: change flex to inline-flex for alignment
  apps/style/src/components/ui/_select.scss
Due: format, lint

fix: resolve select box picker icon alignment issue (#51)
  apps/style/CHANGELOG.md
  apps/style/package.json
  apps/style/src/components/ui/_select.scss
Due: format, lint

fix: resolve spacing between project header
  apps/style/src/utilities/_overrides.scss
Due: format, lint

feat: version 4.0.8
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

fix: resolve spacing between project header (#52)
  apps/style/CHANGELOG.md
  apps/style/package.json
  apps/style/src/utilities/_overrides.scss
Due: format, lint

chore: improve ui
  apps/style/src/components/_grid.scss
  apps/style/src/components/_navbar.scss
  apps/style/src/components/ui/_dropdown.scss
Due: format, lint

chore(docs): upgrade fumadocs
  .changeset/config.json
  apps/api/package.json
  apps/api/tsconfig.json
  apps/docs/package.json
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/_components/features.tsx
  apps/docs/src/app/(home)/_components/features/github-showcase.tsx
  apps/docs/src/app/(home)/_components/footer.tsx
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/llms.txt/route.ts
  apps/docs/src/components/fumadocs/page-actions.tsx
  apps/docs/src/lib/shiki.ts
  apps/docs/src/mdx-components.tsx
  apps/docs/src/proxy.ts
  apps/docs/src/types/css.d.ts
  apps/style/package.json
  apps/style/src/components/_cards.scss
  apps/style/src/components/_navbar.scss
  apps/style/src/components/ui/_index.scss
  apps/style/src/components/ui/_table.scss
  apps/style/src/components/ui/_tabs.scss
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/tailwind/package.json
Due: format, lint, typecheck

chore: delete skills
  .codex/skills/create-changeset
  .codex/skills/vercel-composition-patterns
  .codex/skills/vercel-react-best-practices
  .codex/skills/web-design-guidelines
  .cursor/commands/deslop.md
  .cursor/skills/vercel-composition-patterns
  .cursor/skills/vercel-react-best-practices
  .cursor/skills/web-design-guidelines
Due: format, lint

chore: thing
  .opencode/skills/create-changeset
  .opencode/skills/vercel-composition-patterns
  .opencode/skills/vercel-react-best-practices
  .opencode/skills/web-design-guidelines
Due: none

chore(release): publish single style release
  .github/workflows/release.yml
  pnpm-lock.yaml
  tooling/cspell/index.ts
  tooling/cspell/package.json
  tooling/cspell/tsconfig.json
  tooling/eslint/base.ts
Due: format, lint, typecheck

feat: version 4.0.9
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

fix: lint
  apps/docs/content/docs/api/(generated)/getApiInfo.mdx
  apps/docs/content/docs/api/(generated)/getHealth.mdx
  apps/docs/content/docs/api/(generated)/getReleaseAsset.mdx
  apps/docs/content/docs/style/changelog.mdx
  apps/docs/package.json
  apps/docs/src/app/(home)/_components/features/github-showcase.tsx
  apps/docs/src/app/(home)/_components/footer.tsx
  apps/docs/src/components/icons/github.tsx
  apps/style/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  taze.config.ts
  tooling/cspell/package.json
  tooling/eslint/package.json
  tooling/prettier/package.json
Due: format, lint, typecheck

fix: resolve CI lint, format, and typecheck errors
  apps/docs/src/app/(home)/_components/features/github-showcase.tsx
  apps/docs/src/app/(home)/_components/footer.tsx
  apps/docs/src/app/sitemap.ts
  apps/docs/src/components/fumadocs/ai/message-metadata.tsx
  tooling/eslint/base.ts
Due: format, lint, typecheck

chore: fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
  taze.config.ts
  tooling/eslint/base.ts
  tooling/eslint/tsconfig.json
Due: format, lint, typecheck

chore: fix things
  apps/docs/tsconfig.json
  apps/style/tsconfig.json
  packages/validators/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

chore: fix things
  tooling/typescript/base.json
Due: format, lint

chore: fix pkg
  apps/docs/tsconfig.json
  apps/style/tsconfig.json
  tooling/eslint/base.ts
Due: format, lint, typecheck

chore: upgrade to ts 6.0
  apps/api/tsconfig.json
  apps/docs/tsconfig.json
  apps/style/package.json
  apps/style/tsconfig.json
  pnpm-lock.yaml
  tooling/cspell/tsconfig.json
  tooling/prettier/tsconfig.json
  tooling/tailwind/tsconfig.json
  tooling/typescript/base.json
Due: format, lint

fix: make dropdown selector more specific
  apps/style/src/components/ui/_dropdown.scss
Due: format, lint

fix: form-label width
  apps/style/src/utilities/_overrides.scss
Due: format, lint

feat: add squishy buttons
  apps/style/src/components/_box.scss
  apps/style/src/components/_sidebar.scss
  apps/style/src/components/ui/_button.scss
  packages/ui/src/button.tsx
Due: format, lint, typecheck

chore: release v4.1.0
  apps/style/CHANGELOG.md
  apps/style/package.json
  apps/style/src/components/_sidebar.scss
Due: format, lint

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}
  lint: any of: *.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}
  typecheck: any of: *.{ts,tsx}
