Repository techwithanirudh/coolify-tweaks: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    format:
      run: pnpm turbo run format --continue -- {staged_files} --cache --cache-location .cache/.prettiercache
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}"
    lint:
      run: pnpm turbo run lint --continue -- {staged_files} --fix --cache --cache-location .cache/.eslintcache
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}"
    typecheck:
      run: pnpm turbo run typecheck -- {staged_files}
      stage_fixed: false
      glob: "*.{ts,tsx}"
    spelling:
      run: pnpm turbo run check:spelling --continue -- {staged_files} --cache --cache-location .cache/.cspellcache
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm commitlint --edit {1}

chore: remove outdated Tailwind CSS and Vite dependencies from workspace configuration
  pnpm-workspace.yaml
Due: format, lint

chore: update pnpm-lock.yaml to reflect dependency version changes and remove outdated entries
  pnpm-lock.yaml
Due: format, lint

Update project for React Flight RCE advisory
  apps/docs/package.json
  pnpm-lock.yaml
Due: format, lint

fix: allow main.css in theme processing logic
  apps/api/src/utils/themes.ts
Due: format, lint, typecheck

chore: add post-create script for environment setup and update dependencies in package.json
  .devcontainer/scripts/post_create.sh
  apps/docs/package.json
  apps/docs/src/app/api/chat/route.ts
  apps/docs/src/app/api/chat/types.ts
  apps/docs/src/app/api/chat/utils/prompts/core.ts
  apps/docs/src/app/api/chat/utils/prompts/directives.ts
  apps/docs/src/app/api/chat/utils/prompts/examples.ts
  apps/docs/src/app/api/chat/utils/prompts/index.ts
  apps/docs/src/app/api/chat/utils/prompts/tools.ts
  apps/docs/src/app/api/chat/utils/qa-schema.ts
  apps/docs/src/app/api/chat/utils/tools/get-page-content.ts
  apps/docs/src/app/api/chat/utils/tools/search-docs.ts
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/llms.txt/route.ts
  apps/docs/src/components/fumadocs/ai/message-metadata.tsx
  apps/docs/src/components/fumadocs/ai/search.tsx
  apps/docs/src/components/fumadocs/ai/shimmer.tsx
  apps/docs/src/components/fumadocs/ai/sources.tsx
  apps/docs/src/components/fumadocs/ai/tools/get-page-content.tsx
  apps/docs/src/components/fumadocs/ai/tools/provide-links.tsx
  apps/docs/src/components/fumadocs/ai/tools/search-docs.tsx
  apps/docs/src/lib/ai/prompts/index.ts
  apps/docs/src/lib/ai/prompts/llms.ts
  apps/docs/src/lib/ai/prompts/tools.ts
  apps/docs/src/lib/ai/providers.ts
  apps/docs/src/lib/ai/qa-schema.ts
  apps/docs/src/lib/ai/tools/provide-links.ts
  apps/docs/src/lib/ai/tools/search-docs.ts
Due: format, lint, typecheck

chore: update pnpm-lock.yaml
  apps/api/src/routes/release/[tag]/index.ts
  apps/docs/package.json
  apps/docs/source.config.ts
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/og/[...slug]/fonts/Geist-Bold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-ExtraBold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Medium.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Regular.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-SemiBold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Thin.ttf
  apps/docs/src/app/og/[...slug]/generate.tsx
  apps/docs/src/app/og/[...slug]/route.tsx
  apps/docs/src/app/providers.tsx
  apps/docs/src/app/rss.xml/route.ts
  apps/docs/src/app/sitemap.ts
  apps/docs/src/components/fumadocs/ai/search.tsx
  apps/docs/src/lib/metadata.ts
  apps/docs/src/lib/rss.ts
  apps/docs/src/lib/source.ts
  apps/docs/src/lib/source.tsx
  apps/docs/src/lib/url.ts
  apps/docs/src/styles/globals.css
  apps/docs/src/styles/solar.css
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, typecheck

refactor: update theme.css to use @theme syntax and adjust secondary color variable
  .github/ISSUE_TEMPLATE/bug_report.yml
  apps/docs/package.json
  pnpm-workspace.yaml
  tooling/tailwind/theme.css
Due: format, lint

feat: add dark mode color variables to globals.css for improved theming
  apps/docs/src/styles/globals.css
Due: format, lint

refactor: enhance transformCss function
  apps/api/src/utils/css-compiler.ts
  apps/api/src/utils/themes.ts
Due: format, lint, typecheck

style: update footer and hero
  apps/docs/src/app/(home)/_components/footer.tsx
  apps/docs/src/app/(home)/_components/hero.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/styles/globals.css
Due: format, lint, typecheck

chore: refine environment setup in Docker and scripts, update .gitignore for pnpm store
  .devcontainer/scripts/post_create.sh
  .gitignore
  apps/docs/Dockerfile
  apps/docs/src/app/api/chat/route.ts
  apps/docs/src/app/api/chat/utils/prompts/directives.ts
  docker-compose.yml
Due: format, lint, typecheck

chore: update Dockerfile
  apps/docs/Dockerfile
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/_components/hero.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/api/chat/route.ts
  apps/docs/src/app/api/chat/utils/tools/search-docs.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/og/[...slug]/generate.tsx
  apps/docs/src/app/providers.tsx
  apps/docs/src/components/fumadocs/ai/message-metadata.tsx
  apps/docs/src/components/fumadocs/ai/search.tsx
  apps/docs/src/components/fumadocs/ai/shimmer.tsx
  apps/docs/src/components/fumadocs/ai/sources.tsx
  apps/docs/src/lib/source.tsx
  apps/docs/src/styles/solar.css
Due: format, lint, typecheck

chore: update pnpm-lock.yaml and Dockerfile to refine environment variable handling
  apps/docs/Dockerfile
  pnpm-lock.yaml
Due: format, lint

chore: streamline Dockerfile by removing unnecessary comments and improving build stages
  apps/docs/Dockerfile
Due: none

chore: clean up Dockerfile and docker-compose.yml by removing outdated comments
  apps/api/Dockerfile
  docker-compose.yml
Due: format, lint

refactor: improve linting script and route handling by optimizing async functions and code structure
  apps/docs/scripts/lint.ts
  apps/docs/src/app/llms.txt/route.ts
  apps/docs/src/app/og/[...slug]/route.tsx
  apps/docs/src/lib/layout.shared.tsx
Due: format, lint, typecheck

refactor: update preload script to improve configuration handling and plugin integration
  apps/docs/scripts/preload.ts
Due: format, lint, typecheck

refactor: reorganize imports and improve code formatting in source.config.ts
  apps/docs/source.config.ts
  pnpm-lock.yaml
Due: format, lint, typecheck

chore: update dependencies in
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/scripts/lint.ts
  apps/docs/src/components/fumadocs/ui/collapsible.tsx
  apps/docs/src/lib/ai/prompts/core.ts
  apps/docs/src/lib/ai/prompts/examples.ts
  apps/docs/src/lib/ai/tools/get-page-content.ts
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, typecheck

refactor: code structure for improved readability and maintainability
  apps/docs/content/docs/api/(generated)/getApiInfo.mdx
  apps/docs/content/docs/api/(generated)/getHealth.mdx
  apps/docs/content/docs/api/(generated)/getReleaseAsset.mdx
  apps/docs/content/docs/style/changelog.mdx
  apps/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint

fix: add .pnpm-store to .gitignore
  .gitignore
Due: none

fix: thing
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint

fix(docs): register bun plugin preload
  apps/docs/bunfig.toml
  apps/docs/content/docs/api/(generated)/getApiInfo.mdx
  apps/docs/content/docs/api/(generated)/getHealth.mdx
  apps/docs/content/docs/api/(generated)/getReleaseAsset.mdx
  apps/docs/content/docs/style/changelog.mdx
  apps/docs/content/docs/style/contributing.mdx
  apps/docs/package.json
  apps/docs/scripts/lint.ts
  apps/docs/scripts/preload.ts
  apps/docs/source.config.ts
  apps/docs/source.script.ts
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/rss.xml/route.ts
  apps/docs/src/app/sitemap.ts
  apps/docs/src/lib/ai/tools/search-docs.ts
  apps/docs/src/lib/metadata.ts
  apps/docs/src/lib/rss.ts
  apps/docs/src/lib/source.ts
  apps/docs/src/lib/source.tsx
  apps/docs/src/lib/url.ts
  apps/docs/tsconfig.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

refactor: code structure for improved readability and maintainability
  apps/docs/bunfig.toml
Due: none

refactor: improve type definitions and code structure across multiple files
  apps/docs/scripts/preload.ts
  apps/docs/src/app/api/chat/route.ts
  apps/docs/src/app/api/chat/types.ts
  apps/docs/src/app/api/chat/utils/tools/search-docs.ts
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/sitemap.ts
  apps/docs/src/components/fumadocs/ai/message-metadata.tsx
  apps/docs/src/components/fumadocs/ai/search.tsx
  apps/docs/src/components/fumadocs/ai/shimmer.tsx
  apps/docs/src/lib/source.tsx
  tooling/eslint/base.ts
Due: format, lint, typecheck

refactor: reorganize imports and i
  apps/docs/src/components/fumadocs/ui/collapsible.tsx
  apps/docs/tsconfig.json
Due: format, lint, typecheck

refactor: update imports and improve sibling retrieval logic in documentation pages
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/fumadocs/ai/shimmer.tsx
  apps/docs/tsconfig.json
Due: format, lint, typecheck

refactor: add @fumadocs/ui dependency and improve heading extraction logic
  apps/docs/content/docs/api/(generated)/getApiInfo.mdx
  apps/docs/content/docs/api/(generated)/getHealth.mdx
  apps/docs/content/docs/api/(generated)/getReleaseAsset.mdx
  apps/docs/src/app/docs/layout.tsx
Due: format, lint, typecheck

refactor: code structure for improved readability and maintainability
  .nvmrc
  apps/docs/package.json
  apps/docs/src/app/og/[...slug]/fonts/Geist-Bold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-ExtraBold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Medium.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Regular.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-SemiBold.ttf
  apps/docs/src/app/og/[...slug]/fonts/Geist-Thin.ttf
  apps/docs/src/app/og/[...slug]/generate.tsx
  apps/docs/src/app/og/[...slug]/route.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix: dep
  apps/docs/content/docs/api/(generated)/getApiInfo.mdx
  apps/docs/content/docs/api/(generated)/getHealth.mdx
  apps/docs/content/docs/api/(generated)/getReleaseAsset.mdx
  apps/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint

fix: align lucide-react version to fix FrameworkProvider error
  apps/docs/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: format, lint

fix: resolve ESLint errors in docs package
  apps/docs/scripts/lint.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/components/fumadocs/ai/search.tsx
Due: format, lint, typecheck

style: format files with Prettier
  apps/docs/scripts/preload.ts
  apps/docs/source.config.ts
  apps/docs/src/lib/source.tsx
Due: format, lint, typecheck

style: fix devcontainer formatting and add trailing newlines
  .devcontainer/devcontainer.json
  .devcontainer/local-features/setup-user/devcontainer-feature.json
  .devcontainer/scripts/post_create.sh
Due: format, lint

fix: use fumadocs Link component with HoverCardTrigger asChild
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/styles/globals.css
Due: format, lint, typecheck

fix: use theme fonts instead of hardcoded Geist fonts
  apps/api/src/utils/themes.ts
Due: format, lint, typecheck

refactor: clean up theme font loading architecture
  apps/api/src/utils/css-transformer.ts
  apps/api/src/utils/fonts.ts
  apps/api/src/utils/themes.ts
  apps/style/plugins/postcss/theme-markers.ts
  apps/style/postcss.config.ts
  apps/style/scripts/build.ts
  apps/style/src/theme/_typography.scss
  apps/style/src/theme/_variables.scss
Due: format, lint, typecheck

fix: add 'wght' to cspell dictionary for Google Fonts params
  apps/api/.cspell.json
Due: format, lint

chore: release @repo/style v4.0.1
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint
