Repository techwithanirudh/coolify-tweaks: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    format:
      run: pnpm turbo run format --continue -- {staged_files} --cache --cache-location .cache/.prettiercache
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}"
    lint:
      run: pnpm turbo run lint --continue -- {staged_files} --fix --cache --cache-location .cache/.eslintcache
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md,mdx,yml,yaml,css,scss,html}"
    typecheck:
      run: pnpm turbo run typecheck -- {staged_files}
      stage_fixed: false
      glob: "*.{ts,tsx}"
    spelling:
      run: pnpm turbo run check:spelling --continue -- {staged_files} --cache --cache-location .cache/.cspellcache
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm commitlint --edit {1}

fix: update documentation links for apps section
  apps/docs/content/docs/style/updating.mdx
Due: format, lint

fix: update documentation links for apps section
  README.md
Due: format, lint

fix: update documentation links for apps section
  apps/docs/content/docs/style/theming.mdx
Due: format, lint

fix: update documentation links for apps section
  apps/docs/.prettierignore
Due: none

fix: dockerfile
  .dockerignore
  apps/api/Dockerfile
  apps/api/package.json
  apps/docs/Dockerfile
  docker-compose.yml
Due: format, lint

Add styles for media menu checkbox
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

Refactor CSS for video player menu items
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

Update video-player.tsx
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

fix: theme
  apps/docs/content/docs/style/index.mdx
  apps/docs/content/docs/style/installation/dynamic-config.mdx
  apps/docs/scripts/sync-changelog.ts
  apps/docs/src/app/(home)/_components/cta.tsx
  apps/docs/src/app/(home)/_components/features.tsx
  apps/docs/src/app/(home)/_components/footer.tsx
  apps/docs/src/app/(home)/_components/hero.tsx
Due: format, lint, typecheck

fix: add external CSS for video player styles and remove inline styles from video-player.tsx
  packages/ui/src/video-player.css
  packages/ui/src/video-player.tsx
Due: format, lint, typecheck

Update service references in dynamic-config.mdx
  apps/docs/content/docs/style/installation/dynamic-config.mdx
Due: format, lint

Clean up comments in dynamic-config.mdx
  apps/docs/content/docs/style/installation/dynamic-config.mdx
Due: format, lint

feat: script
  script.sh
Due: none

feat: script
  apps/docs/public/scripts/install/dynamic-config.sh
Due: none

feat: add dynamic configuration script for Coolify Tweaks installation
  apps/docs/public/scripts/install/dynamic-config.sh
Due: none

feat: add dynamic configuration script for Coolify Tweaks installation
  apps/docs/content/docs/style/installation/dynamic-config.mdx
Due: format, lint

feat: add dynamic configuration script for Coolify Tweaks installation
  apps/style/src/components/_box.scss
  apps/style/src/components/_grid.scss
  apps/style/src/components/_search.scss
  apps/style/src/components/_tags.scss
  apps/style/src/components/ui/_button.scss
  apps/style/src/pages/_new-resource.scss
  apps/style/src/pages/_resources.scss
Due: format, lint

feat: add dynamic configuration script for Coolify Tweaks installation
  apps/style/CHANGELOG.md
  apps/style/package.json
Due: format, lint

chore: release version 4.0.0 with major update
  apps/style/CHANGELOG.md
  apps/style/package.json
  apps/style/src/components/_grid.scss
  apps/style/src/components/ui/_button.scss
  apps/style/src/pages/_new-resource.scss
Due: format, lint

fix: ci issues
  apps/api/.cspell.json
  apps/docs/.cspell.json
  apps/docs/content/docs/style/installation/dynamic-config.mdx
  apps/style/.cspell.json
  apps/style/src/components/_box.scss
  apps/style/src/components/_search.scss
  apps/style/src/components/ui/_button.scss
  apps/style/src/pages/_new-resource.scss
  packages/ui/src/video-player.css
Due: format, lint

fix: ci issues
  apps/docs/content/docs/style/installation/dynamic-config.mdx
  apps/docs/src/lib/get-llm-text.ts
Due: format, lint, typecheck

fix: stuff
  .devcontainer/devcontainer.json
  .devcontainer/scripts/configure-p10k.sh
Due: format, lint

fix: stuff
  .devcontainer/devcontainer.json
Due: format, lint

fix: stuff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/local-features/setup-user/devcontainer-feature.json
  .devcontainer/local-features/setup-user/install.sh
Due: format, lint

fix: stuff
  .devcontainer/Dockerfile
Due: none

fix: stuff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: format, lint

feat: dc
  .devcontainer/Dockerfile
Due: none

chore: update Dockerfile to remove default 'ubuntu' user and streamline package installation
  .devcontainer/Dockerfile
Due: none

chore: update Dockerfile to remove default 'ubuntu' user and streamline package installation
  .cursor/mcp.json
  .gitignore
  apps/docs/next.config.ts
  apps/docs/package.json
  apps/docs/sentry.edge.config.ts
  apps/docs/sentry.server.config.ts
  apps/docs/src/app/global-error.tsx
  apps/docs/src/env.ts
  apps/docs/src/instrumentation-client.ts
  apps/docs/src/instrumentation.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format, lint, typecheck

chore: update Node and package dependencies to latest versions
  .nvmrc
  apps/api/package.json
  apps/docs/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

chore: update Node and package dependencies to latest versions
  .devcontainer/devcontainer.json
  apps/api/Dockerfile
  apps/docs/Dockerfile
  docker-compose.yml
Due: format, lint

chore: update environment configuration and Dockerfile for improved setup
  .devcontainer/devcontainer.json
  .devcontainer/scripts/post-create.sh
  .env.example
  apps/api/Dockerfile
  apps/api/package.json
  apps/style/package.json
  package.json
  packages/db/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/cspell/package.json
  tooling/eslint/package.json
  tooling/prettier/package.json
Due: format, lint
